/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 40px;
  background-color: aqua;
}
.box {
  display: inline-block;
}
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}
.top {
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.bottom {
  flex: 2;
} */
